<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BeClou</title>
    <link rel="stylesheet" type="text/css" href="stylebooking.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="img/logo.png" alt="">
      </div>
    </header>
    <section>
      <div class="title explain">
        <h1>Booking infos</h1>
        <p>Choose your time and enjoy your ride.</p>
      </div>
      <div class="picture">
        <img src="img/velofinish.png" alt="">
      </div>
      <div class="bouttons-paiement">
        <button type="button" name="paiement">€1 - 1 hours</button>
        <button type="button" name="cancel">€11 - 12 hours</button>
        <button type="button" name="cancel">€20 - 24 hours</button>
      </div>
      <div class="start">
        <div class="left-start">
          <img src="img/velostart.png" alt="">
          <p>Take this bike</p>
        </div>
        <div class="right-start">
          <a href="#">Start !</a>
        </div>
      </div>

    </section>
  </body>
</html>
