<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      // On initialise la map ici :
        // On definit le zoom afin de voir tout Paris
        // Les coordonnées de où sera centrée la maps
        // On peut choisir la texture de map
        function initMap() {

              // Create a new StyledMapType object, passing it an array of styles,
              // and the name to be displayed on the map type control.
              var styledMapType = new google.maps.StyledMapType(
                [
          {
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
          },
          {
            "elementType": "labels.text.stroke",
            "stylers": [
              {
                "color": "#f5f5f5"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#bdbdbd"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
          },
          {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#ffffff"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#757575"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#dadada"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#616161"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          },
          {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#e5e5e5"
              }
            ]
          },
          {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#eeeeee"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
              {
                "color": "#c9c9c9"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9e9e9e"
              }
            ]
          }
          ],
        {name: 'Styled Map'});

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: {lat: 48.857010, lng: 2.343724},
      mapTypeControlOptions: {
        mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                'styled_map']
      }
    });

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');


        // On definit les coordonnées des angles de notre polygone ici
    /*    var premierCoords = [
          {lat: 48.868117, lng: 2.324658},
          {lat: 48.856632, lng: 2.325086},
          {lat: 48.855060, lng: 2.337114},
          {lat: 48.866966, lng: 2.336836}
        ];
*/
        // On crée le polygon ici, à l'aide des angles definit précédement
          // On peut choisir une couleur de fond, une opacité de fond
          // La couleur du coutour, l'épaisseur, l'opacité
    /*    var premArr = new google.maps.Polygon({
          paths: premierCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.5,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.3
        });*/

        // Une fois le polygone initialisé et créé, on le fout sur la map
      //  premArr.setMap(map);




        // Partie pour la geolocation
        infoWindow = new google.maps.InfoWindow;
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here');
            infoWindow.open(map);
          //  map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        //Pour les markers
    //    setMarkers(map);
    var markers = [
    ['Louvre', 48.860433, 2.337991, 4],
    ['Notre Dame', 48.852737, 2.350540, 5],
    ['Rex', 48.870319, 2.347929, 3]
   ];

   // Info window content
   var infoWindowContent = [
       ['<div class="info_content">' +
       '<p>Vélo numéro 1.</p>' + '</div>'+
       '<a href="#">Réservez ce vélo</a>'],
       ['<div class="info_content">' +
       '<p>Vélo numéro 2.</p>' +
       '</div>'+
       '<a href="#">Réservez ce vélo</a>'],
       ['<div class="info_content">' +
       '<p>Vélo numéro 3.</p>' +
       '</div>'+
       '<a href="#">Réservez ce vélo</a>']
   ];
   console.log('pd ::' + infoWindowContent);
   // Add multiple markers to map
   var infoWindow = new google.maps.InfoWindow(), marker, i;
   var bounds = new google.maps.LatLngBounds();

   var image = {
     url: 'img/minivelo.png',
     // This marker is 20 pixels wide by 32 pixels high.
     size: new google.maps.Size(32, 35),
     // The origin for this image is (0, 0).
     origin: new google.maps.Point(0, 0),
     // The anchor for this image is the base of the flagpole at (0, 32).
     anchor: new google.maps.Point(0, 32)
   };
   // Place each marker on the map
   for( i = 0; i < markers.length; i++ ) {
       var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
       bounds.extend(position);
       marker = new google.maps.Marker({
           position: position,
           map: map,
           icon: image,
           title: markers[i][0]
       });

       // Add info window to marker
       google.maps.event.addListener(marker, 'click', (function(marker, i) {
           return function() {
               infoWindow.setContent(infoWindowContent[i][0]);
               infoWindow.open(map, marker);
           }
       })(marker, i));

       // Center the map to fit all markers on the screen
       map.fitBounds(bounds);
   }

   // Set zoom level
   var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
       this.setZoom(14);
       google.maps.event.removeListener(boundsListener);
   });
        google.maps.event.addDomListener(window, 'load', initMap);
}

      // Pour la geolocation
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);



      }

      //Positions des differents markers


      // Definition des markers
/*      function setMarkers(map) {
        var bounds = new google.maps.LatLngBounds();
        var infoWindowContent = [];
        var image = {
          url: 'img/minivelo.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(32, 35),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };
        var marqueurs = [
          ['Louvre', 48.860433, 2.337991, 4],
          ['Notre Dame', 48.852737, 2.350540, 5],
          ['Rex', 48.870319, 2.347929, 3]
        ];
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
        for (var i = 0; i < marqueurs.length; i++) {
          var marque = marqueurs[i];
          var contentString = 'Vélo numéro ' + i ;
          var marker = new google.maps.Marker({
            position: {lat: marque[1], lng: marque[2]},
            map: map,
            icon: image,
            shape: shape,
            title: marque[0],
            zIndex: marque[3]
          });
          infoWindowContent[i] =
              '<div class="info_content">' +
              '<p>Vélo numéero</p>' + i + '</div>';
            return infoWindowContent[i];
          //  console.log(infoWindowContent);
        }
        console.log(infoWindowContent);
        // Add multiple markers to map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        // Place each marker on the map
        for( i = 0; i < marqueurs.length; i++ ) {
            var position = new google.maps.LatLng(marqueurs[i][1], marqueurs[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: marqueurs[i][0]
            });

            // Add info window to marker
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Center the map to fit all markers on the screen
            map.fitBounds(bounds);
        }

        // Set zoom level
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });
      }*/

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAwxMsnJPAeam7mp7wfx-PnOhLkiLxK6s&callback=initMap">
    </script>
    <script>
      displayBikes();

      async function displayBikes(){
        let url = '/api/bikes/all?status=1';
          let res = await fetch(url, 
            {
                method: 'GET'
            }
        );
        let marker = [];
        if (res.status === 200){
            let result = await res.json();
            for (let i; i < result.length; i++) {
            marker[i] = [result[i].latitude, result[i].longitude];
            console.log(result[i].latitude);
            console.log(result[i].longitude);
            }
        }     
      }
    </script>
  </body>
</html>
<!--
<script>
function initMap() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };

    // Display a map on the web page
    map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);
    map.setTilt(50);

    // Multiple markers location, latitude, and longitude
    var markers = [
        ['Brooklyn Museum, NY', 40.671531, -73.963588],
        ['Brooklyn Public Library, NY', 40.672587, -73.968146],
        ['Prospect Park Zoo, NY', 40.665588, -73.965336]
    ];

    // Info window content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>Brooklyn Museum</h3>' +
        '<p>The Brooklyn Museum is an art museum located in the New York City borough of Brooklyn.</p>' + '</div>'],
        ['<div class="info_content">' +
        '<h3>Brooklyn Public Library</h3>' +
        '<p>The Brooklyn Public Library (BPL) is the public library system of the borough of Brooklyn, in New York City.</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Prospect Park Zoo</h3>' +
        '<p>The Prospect Park Zoo is a 12-acre (4.9 ha) zoo located off Flatbush Avenue on the eastern side of Prospect Park, Brooklyn, New York City.</p>' +
        '</div>']
    ];

    // Add multiple markers to map
    var infoWindow = new google.maps.InfoWindow(), marker, i;

    // Place each marker on the map
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

        // Add info window to marker
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Center the map to fit all markers on the screen
        map.fitBounds(bounds);
    }

    // Set zoom level
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
    });

}
// Load initialize function
google.maps.event.addDomListener(window, 'load', initMap);
</script>
-->
