<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../stylesheets/burger.css">
        <link rel="stylesheet" href="../stylesheets/grid.css">
        <link rel="stylesheet" href="../stylesheets/fonts.css">
        <link rel="stylesheet" href="../stylesheets/media-queries.css">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Map</title>
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 80%;
            }
    
            /* Optional: Makes the sample page fill the window. */
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <link rel="stylesheet" href="../stylesheets/carousel.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div id="menu_resp" class="pure-g">
        <div class="pure-u-1-3">
                <nav role="navigation">
                        <div id="menuToggle">
                                <input type="checkbox" />
                                <span></span>
                                <span></span>
                                <span></span>
                                <ul id="menu">
                                  <p class="welcome_text">Hi!</p>
                                  
                                  <a href="/map"><li id="select_bike"><img id="bikeicon" src="../images/calque-1@3x.png"><br>Take a bike</li></a>
                                  <a href="../views/signin.html" ><li id="menu_content"><img id="icon_menu" src="../images/group-2@3x.png">Signin / Connexion</li></a>
                                  <a href="#"><li id="menu_content"><img id="icon_menu" src="../images/information@3x.png">How it works ?</li></a>
                                  <a class="active" onclick="return logout()"></a><li>Logout</li></a>
                                </ul>
                              </div>
        </div>
        <div class="pure-u-1-3" id="logoContainer"><p></p></div>
  
        <div class="pure-u-1-3">
        </div>
      </div>
      <div id="menu_resp2" class="pure-g">   
          <div class="pure-u-1-3">
              <nav role="navigation">
                      <div id="menuToggle">
                              <input type="checkbox" />
                              <span></span>
                              <span></span>
                              <span></span>
                              <ul id="menu">
                                <p class="welcome_text">Hi!</p>
                                <p id="firstname_print"></p>
                                <a href="/map"><li id="select_bike"><img id="bikeicon" src="../images/calque-1@3x.png"><br>Take a bike</li></a>
                                <a href="#"><li id="menu_content"><img id="icon_menu" src="../images/information@3x.png">How it works ?</li></a>
                                <a href="/login" target="_blank"><li id="menu_content">Sign Out</li></a>
                                <li class="logout_button"><a class="active" onclick="return logout()">Logout</a></li>
                              </ul>
                            </div>
      </div>
          <div class="pure-u-1-3" id="logoContainer"><p></p></div>
  
          <div class="pure-u-1-3">
          </div>
        </div>
        
<div id="map"></div>
<script>

    // On initialise la map ici :
    // On definit le zoom afin de voir tout Paris
    // Les coordonnées de où sera centrée la maps
    // On peut choisir la texture de map
    async function initMap() {
        var styledMapType = new google.maps.StyledMapType(
            [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.business",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ],
            {name: 'Styled Map'});
        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: 48.857010, lng: 2.343724},
            mapTypeControlOptions: {
                mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
            }
        });
        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
        // Partie pour la geolocation
        infoWindow = new google.maps.InfoWindow;
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('You are here');
                infoWindow.open(map);
                //  map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
        // Add multiple markers to map
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        var bounds = new google.maps.LatLngBounds();
        let velo = {
            url: '../images/minivelo.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(32, 35),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        let veloRouge = {
            url: '../images/minivelorouge.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(32, 35),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };

        let bikes = await getAllBikes();
        //Pour les markers
        //    setMarkers(map);
        /*var markers = [
            ['Louvre', 48.860433, 2.337991, 4],
            ['Notre Dame', 48.852737, 2.350540, 5],
            ['Rex', 48.870319, 2.347929, 3]
        ];*/

        // Place each marker on the map
        for (i = 0; i < bikes.length; i++) {
            let position = new google.maps.LatLng(bikes[i].longitude, bikes[i].latitude);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                icon: bikes[i].status === 1 ? velo : veloRouge,
                title: "velo_" + bikes[i].id
            });
            // Add info window to marker
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infoWindow.setContent(getInfoWindow(bikes[i].id));
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            // Center the map to fit all markers on the screen
            map.fitBounds(bounds);
        }
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

        // Set zoom level
        let boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
            this.setZoom(14);
            google.maps.event.removeListener(boundsListener);
        });
        google.maps.event.addDomListener(window, 'load', initMap);
    }

    // Pour la geolocation
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAwxMsnJPAeam7mp7wfx-PnOhLkiLxK6s&callback=initMap">
</script>
<script>
    '<button href="bookBike(' + id + ')" type="button" name="button" >Book</button>';

    function getInfoWindow(id) {
        return '<div class="info_content">' +
            '<input type="number" min="1" max="24" name="duree" placeholder="Duration" id="duration"/>' + '</div>' +
            '<input type="datetime-local" name="datetime" placeholder="Date" id="date"/>' +
            '<button onclick="bookBike(' + id + ')" type="button" name="button" >Book</button>';
    }

    async function getuserIdBySession() {
        let url = '/api/users/session';
        let userId;
        let result = await fetch(url,
            {
                method: 'GET'
            });
        if (result.status === 200) {
            userId = await result.json();
            return userId.id;
        } else return null;
    }

    async function bookBike(bikeId) {
        let userId = await getuserIdBySession();
        let url;
        url = '/api/reservations/create';
        let date = document.getElementById('date').value;
        let duration = document.getElementById('duration').value;
        console.log(bikeId, userId, duration);

        let data = {
            bikeId: bikeId,
            userId: userId,
            duration: duration,
            beginAt: "2019-05-05 22:22:22"
        };
        result = await fetch(url,
            {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }
        );
        if (result.status === 200) {
            alert("Reservation faite !");
        } else alert("Reservation failed")
    }

    async function getAllBikes() {
        console.log('bikes');
        let url = '/api/bikes/all?status=1';
        let res = await fetch(url,
            {
                method: 'GET'
            }
        );
        if (res.status === 200) {
            let result = await res.json();
            return result;
        } else return [];
    }
</script>
</body>
</html>
