<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BeClou</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylebooking.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/burger.css">
    <link rel="stylesheet" href="../stylesheets/grid.css">
    <link rel="stylesheet" href="../stylesheets/fonts.css">
    <link rel="stylesheet" href="../stylesheets/qrcode.css">

    <link rel="stylesheet" href="../stylesheets/carousel.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <head>
            <title>Instascan &ndash; Demo</title>
            <link rel="stylesheet" href="styleqr.css">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
            <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
          </head>
    <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
              height: 100%;
              width: 100%;
              position: relative;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }
          </style>  
  </head>
  <body>
      <div class="pure-g">
          <div class="pure-u-1-3">
                  <nav role="navigation">
                          <div id="menuToggle">
                                  <input type="checkbox" />
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <ul id="menu">
                                    <p class="welcome_text">Hi!</p>
                                    <a href="../views/booking.html"><li id="select_bike"><img id="bikeicon" src="../images/calque-1@3x.png"><br>Take a bike</li></a>
                                    <a href="../views/signin.html" ><li id="menu_content"><img id="icon_menu" src="../images/group-2@3x.png">Signin / Connexion</li></a>                                          <a href="../views/qrcode.html" ><li id="menu_content"><img id="icon_menu" src="../images/qr-code.png">Scan a QR Code</li></a>

                                    <a href="#"><li id="menu_content"><img id="icon_menu" src="../images/information@3x.png">How it works ?</li></a>
                                    <a href="https://erikterwan.com/" target="_blank"><li id="menu_content">Sign Out</li></a>
                                  </ul>
                                </div>
          </div>
          <a class="pure-u-1-3"  href="index.html"><div id="logoContainer"><p></p></div></a>

          <div class="pure-u-1-3">
          </div>
      </div>
      <div id="map">
            <video id="preview"></video>
        </div>
            <script type="text/javascript">
              let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
              scanner.addListener('scan', function (content) {
                window.location.href = content;
              });
              Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                  scanner.start(cameras[0]);
                } else {
                  console.error('No cameras found.');
                }
              }).catch(function (e) {
                console.error(e);
              });
            </script>
      <button id="confirm_run" class="target_map">Start Now</button>
    </div>
  </body>
</html>
