<!DOCTYPE html>
<html>
<head>
<title>Unlock</title>
</head>
<body>
</body>
<script>
    unlock();
    async function unlock(){
    // on set l'url de l'api register
        url = '/api/bikes/status?id=' + getUrlParameter('id');
        let resBikeStatus = await fetch(url, {
            method: 'GET',
        });
        if(resBikeStatus.status === 200){
            resBikeStatus = await resBikeStatus.json();
            if(resBikeStatus[0].status == 1){
                return window.location.href ="/booking?id=" + getUrlParameter('id');
            }
        }else alert(resBikeStatus.status + " " + await resBikeStatus.text());

        url = '/api/reservations/reservationByBike?bike_id=' + getUrlParameter('id');
        let resReservation = await fetch(url, {
            method: 'GET',
        });

        if(resReservation.status === 200){
            resReservation = await resReservation.json();
        }else alert(resReservation.status + " " + await resReservation.text());

        url = '/api/reservations/update';
        let resUpdateRes = await fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                id:resReservation[0].id,
                status:2
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        });

    // dès que l'appel est terminé, on check le status de la réponse, si 200 c'est que tout s'est bien passé
    // du coup si y a eu un 200, on peut continuer notre script
    // si autre que 200, y a eu une erreur et on doit le refaire faire le formulaire d'inscription
        if (resUpdateRes.status === 200) {
            window.location.href = "/";
        } else alert(resUpdateRes.status + " " + await resUpdateRes.text());
    }
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>
</html>